{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <script type="text/javascript" language="JavaScript">
        let mobileKeyWords = new Array('iPhone', 'iPod', 'BlackBerry', 'Android', 'Windows CE', 'Windows CE;', 'LG', 'MOT', 'SAMSUNG', 'SonyEricsson', 'Mobile', 'Symbian', 'Opera Mobi', 'Opera Mini', 'IEmobile');
        for (let word in mobileKeyWords) {
            if(!navigator) {
                alert("Your Browser doesn't support 'Navigator'");
            }
            if (navigator && navigator.userAgent.match(mobileKeyWords[word]) != null) {
                window.location.href = "https://toch.kr/m/oneroom";
                break;
            }
        }
    </script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Iphone 모바일 확대 방지 -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0 ,maximum-scale=1.0, user-scalable=0">
    <!-- jQuery CDN -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <!-- 공통 script -->
    <script src="../../../static/mobile/js/com.js"></script>
    <!-- CSS import -->
    <link rel="stylesheet" href="{% static 'mobile/css/import.css' %}">
    <title>원룸 - toch</title>
</head>
<body>

{% block content %}
{% endblock %}

{% include "mobile_template/nav.html" %}
</body>
</html>