{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="subPage loginPage mainPage">
        <section class="findArea">
            <h2 class="hidden">찾기</h2>
            <div class="width1200">
                <form>
                    <fieldset>
                        <legend>아이디 찾기</legend>
                        <div>
                            <ul>
                                <li>
                                    <input type="text" placeholder="이름">
                                </li>
                                <li>
                                    <input type="email" placeholder="이메일 주소">
                                </li>
                            </ul>
                            <button>인증 요청</button>
                            <ul>
                                <li>
                                    <input type="text" placeholder="인증 번호">
                                </li>
                            </ul>
                            <button data-popup="find_popup">계속</button>
                            <div class="find_popup">
                                <div>
                                    <strong>toch ID</strong>
                                    <ul>
                                        <li>
                                            <input type="text" value="ghkdgusajtwoddl" readonly>
                                        </li>
                                    </ul>
                                    <button>계속</button>
                                    <span class="material-icons-outlined closeBtn">
                                        close
                                    </span>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
                <form>
                    <fieldset>
                        <legend>비밀번호 찾기</legend>
                        <div>
                            <ul>
                                <li>
                                    <input type="text" placeholder="이름">
                                </li>
                                <li>
                                    <input type="email" placeholder="이메일 주소">
                                </li>
                            </ul>
                            <button>인증 요청</button>
                            <ul>
                                <li>
                                    <input type="text" placeholder="인증 번호">
                                </li>
                            </ul>
                            <button data-popup="find_popup">계속</button>
                            <div class="find_popup">
                                <div>
                                    <strong>비밀번호 재설정</strong>
                                    <ul>
                                        <li>
                                            <input type="password" placeholder="새 비밀번호">
                                        </li>
                                        <li>
                                            <input type="password" placeholder="새 비밀번호 확인">
                                        </li>
                                    </ul>
                                    <button>계속</button>
                                    <span class="material-icons-outlined closeBtn">
                                        close
                                    </span>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </section>
    </div>
{% endblock %}