/* 아이디 비밀번호 찾기 페이지 */
.findArea > div{display: flex; justify-content: space-between; }
.findArea > div fieldset legend{margin-bottom: 20px;}
.findArea > div fieldset > div{width: 580px; border: 1px solid #e0e0e0; padding: 50px 90px; box-sizing: border-box; text-align: center;}
.findArea > div fieldset > div button{width: 125px; height: 45px; background-color: black; font-size: 18px; font-weight: 800; color: white;}

.find_popup{display: none; position: fixed; left: 0; top: 0; width: 100%; height: 100%; z-index: 100; justify-content: center; align-items: center; background-color: rgba(0, 0, 0, 0.8);}
.find_popup.active{display: flex;}
.find_popup > div{width: 360px; padding: 80px 20px 40px; background-color: white; box-sizing: border-box; position: relative;}
.find_popup > div strong{display: block; font-size: 20px; font-weight: 800; text-align: left; margin-bottom: 20px;}

.find_popup .closeBtn{position: absolute; right: 20px; top: 20px; font-size: 40px; cursor: pointer;}
