/* 마이페이지 - 문의 */
.myPage .quesArea ul{width: 660px; margin: 0 auto;}
.myPage .quesArea ul::after{content: ''; display: block; clear: both;}
.myPage .quesArea ul li{float: left; width: 150px; text-align: center;}
.myPage .quesArea ul li:not(:last-child){margin-right: 20px;}
.myPage .quesArea ul li a{display: block; width: 100%; padding: 105px 0 30px; font-weight: bold; background-color: white; background-repeat: no-repeat; background-position: center top 45px;}
.myPage .quesArea ul li:nth-child(1) a{background-image: url('../../images/mypage_question01.png');}
.myPage .quesArea ul li:nth-child(2) a{background-image: url('../../images/mypage_question02.png');}
.myPage .quesArea ul li:nth-child(3) a{background-image: url('../../images/mypage_question03.png');}
.myPage .quesArea ul li:nth-child(4) a{background-image: url('../../images/mypage_question04.png');}

