{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="mainPage">
        <!-- contents -->
        <div class="contArea width1200">
            <!-- left contents -->
            <div class="leftContArea">
                <div>
                    <!-- main banner -->
                    <div class="mainBanner">
                        <img src="{% static 'images/main_banner.png' %}" alt="무한한 가능성을 가진 공간 toch">
                        <a href="#">자세히 보기
                            <span class="material-icons-outlined">
                                east
                            </span>
                        </a>
                    </div>

                    <!-- main board -->
                    <div class="boardArea">
                        <div class="width100 borderBox paddingBox">
                            <!-- 실시간 인기 게시물 -->
                            <strong>실시간 인기 게시물 <a href="#">+</a></strong>
                            <ul class="hoverEvent">
                                {% for data in community %}
                                    <li>
                                        <a href="{% url "community:detail" data.id %}">
                                            <p>{{ data.title }}</p>
                                            <time>10.20 15:20</time>
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>

                        <!-- 자유게시판 -->
                        <div class="borderBox paddingBox">
                            <strong>자유게시판<a href="#">+</a></strong>
                            <ul class="hoverEvent">
                                {% for data in community2 %}
                                    <li>
                                        <a href="{% url "community:detail" data.id %}">
                                            <p>{{ data.title }}</p>
                                            <time>10.20 15:20</time>
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>

                        <!-- 비밀게시판 -->
                        <div class="borderBox paddingBox">
                            <strong>비밀게시판<a href="#">+</a></strong>
                            <ul class="hoverEvent">
                                {% for data in community2 %}
                                    <li>
                                        <a href="{% url "community:detail" data.id %}">
                                            <p>{{ data.title }}</p>
                                            <time>10.20 15:20</time>
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>

                        <!-- 정보게시판 -->
                        <div class="borderBox paddingBox">
                            <strong>정보게시판<a href="#">+</a></strong>
                            <ul class="hoverEvent">
                                {% for data in community2 %}
                                    <li>
                                        <a href="{% url "community:detail" data.id %}">
                                            <p>{{ data.title }}</p>
                                            <time>10.20 15:20</time>
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>

                        <!-- 홍보 게시판 -->
                        <div class="borderBox paddingBox">
                            <strong>홍보게시판<a href="#">+</a></strong>
                            <ul class="hoverEvent">
                                {% for data in community2 %}
                                    <li>
                                        <a href="{% url "community:detail" data.id %}">
                                            <p>{{ data.title }}</p>
                                            <time>10.20 15:20</time>
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>

                    <!-- main tab -->
                    <div class="tabArea">
                        <!-- main tab 원룸 거래 -->
                        <ul class="tabBtn">
                            <li>
                                <button class="active">원룸</button>
                            </li>
                            <li>
                                <button>거래</button>
                            </li>
                        </ul>

                        <div class="tabContents fontCase01 paddingBox">
                            <ul>
                                {% for data in oneroom %}
                                    <li>
                                        <a href="{% url 'oneroom:detail' data.id %}">
                                            <div class="imgBox"
                                                 style="background-image: url({{ data.file_set.last.file.url }});">
                                                행복빌라 A동
                                            </div>
                                            <div>
                                                <strong>{{ data.title }}<small>월세</small></strong>
                                                <p>
                                                    학교앞 100m거리 편의점에 위치한 원룸입니다.<br/>
                                                    좋은 입지조건과 깨끗한 관리로 신식 건물 못지않게 좋습니다.<br/>
                                                    도보 15분 거리에 동대문역이 있어 대중교통 또한 편리합니다.
                                                </p>
                                            </div>
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>

                <section class="popularArea">
                    <h2>인기원룸</h2>
                    <ul class="fontCase01">
                        {% for data in oneroom2 %}
                            <li class="borderBox">
                                <a href="{% url 'oneroom:detail' data.id %}">
                                    <div class="imgBox"
                                         style="background-image: url({{ data.file_set.last.file.url }});">원룸 이미지
                                    </div>
                                    <div>
                                        <strong>월세 {{ data.rent_amount }}만원<small>원룸</small></strong>
                                        <p>3층 15평 관리비 5만원</p>
                                        <p>목포대 다이소 근처</p>
                                    </div>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </section>

                <section class="realTimeArea">
                    <h2>실시간 인기 중고</h2>
                    <ul class="fontCase01">
                        {% for data in usedtrade %}
                            <li class="">
                                <a href="{% url 'usedtrade:detail' data.id %}">
                                    <div class="imgBox borderBox"
                                         style="background-image: url({{ data.file_set.last.file.url }});">
                                        실시간 인기 중고 이미지
                                    </div>
                                    <p>
                                        <time>{{ data.create_date }}</time>
                                        {{ data.title }}
                                        <strong>{{ data.price }}원</strong>
                                    </p>
                                    <small>목포대학교 근처</small>
                                </a>
                                <div>
                                    <div class="imgBox heartIcon">
                                        하트 아이콘
                                    </div>
                                    <span>
                                    10
                                </span>
                                    <div class="imgBox mailIcon">
                                        메일 아이콘
                                    </div>
                                    <span>
                                    5
                                </span>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </section>
            </div>

            <!-- right contents -->
            <aside>
                <!-- login -->
                {% if not user.is_authenticated %}
                    <div class="mainLonginArea">
                        <form action="{% url 'common:login' %}" method="post">
                            {% csrf_token %}
                            <fieldset>
                                <input type="text" placeholder="아이디" class="form-control" name="username" id="username">
                                <input type="password" placeholder="비밀번호" class="form-control" name="password">
                                <input type="checkbox" id="idSave">
                                <label for="idSave">아이디 저장</label>
                                <input type="submit" value="로그인">
                                <div>
                                    <a href="{% url "common:login_find" %}">아이디/비밀번호 찾기</a>
                                    <a href="{% url "common:signup" %}">회원가입</a>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                {% else %}
                    <div class="mainLonginArea">
                        <form action="{% url 'common:login' %}" method="post">
                            {% csrf_token %}
                            <fieldset>
                                <div class="mainLonginArea" style="font-weight: bold; font-size: 1.2rem">
                                    <p>{{ request.user.last_name }} 님 환영해요!</p>

                                </div>
                                <div style="margin-top: 1rem;">
                                    <input style="background-color: orange; color: white; font-size: 1.1rem"
                                           onclick="location.href='{% url 'common:logout' %}'" type="button"
                                           value="로그아웃">
                                </div>
                            </fieldset>
                        </form>
                    </div>


                {% endif %}

                <!-- side banner -->
                <div class="mainSideBanner">
                    <img src="{% static 'images/main_sideBanner.png' %}" alt="라포르테블랑 서현">
                </div>

                <!-- side board -->
                <div class="boardArea">

                    <!-- side 최신글 borad -->
                    <div class="borderBox">
                        <strong>최신글</strong>
                        <ul class="hoverEvent latestPosts">
                            <li>
                                <a href="#">
                                    <p>
                                        <time>21.10.20 15:20</time>
                                        시험기간이네
                                    </p>
                                    <mark>자유</mark>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <p>
                                        <time>21.10.20 15:20</time>
                                        정치이야기는 하지말자
                                    </p>
                                    <mark>시사</mark>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <p>
                                        <time>21.10.20 15:20</time>
                                        족보 많은 곳
                                    </p>
                                    <mark>정보</mark>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <p>
                                        <time>21.10.20 15:20</time>
                                        안정적인 직장정보
                                    </p>
                                    <mark>취업</mark>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <!-- side 알바정보 borad -->
                    <div class="borderBox">
                        <strong>알바정보<a href="#">+</a></strong>
                        <ul class="hoverEvent">
                            <li>
                                <a href="#">
                                    <p>도쿄라멘 알바 구해요</p>
                                    <time>21.10.20</time>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <p>쿠팡친구 채용(월400...</p>
                                    <time>21.10.20</time>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <p>시크릿 강남 초보스웨...</p>
                                    <time>21.10.20</time>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <p>마왕족발 홀서빙 or 주... </p>
                                    <time>21.10.20</time>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <!-- side 공지사항 borad -->
                    <div class="borderBox">
                        <strong>공지사항<a href="#">+</a></strong>
                        <ul class="hoverEvent">
                            <li>
                                <a href="#">
                                    <p>서버 점검합니다.</p>
                                    <time>21.10.20</time>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <p>서버 점검합니다.</p>
                                    <time>21.10.20</time>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <p>서버 점검합니다.</p>
                                    <time>21.10.20</time>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <p>서버 점검합니다.</p>
                                    <time>21.10.20</time>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </aside>
        </div>
    </div>
{% endblock %}