{% extends 'base.html' %}
{% load static %}
{% block content %}
    <style>
        td {
            width: 12.5%;
        }

        .roomImageContainer {
            height: 400px;
            box-sizing: border-box;
        }

        .roomImage {
            border: solid 1px black;
            float: left;
            width: 50%;
            height: 50%;

            text-align: center;
            line-height: 200px;
        }

        .option, .facility {
            margin-top: 80px;
        }

        .option_title {
            text-align: center;
        }

        .option_list {
            margin: 0 auto;
            height: 300px;
            width: 80%;
            border: 1px solid black;
        }

        .facility_title {
            text-align: center;
        }

        .facility_list {
            margin: 0 auto;
            width: 80%;
            height: 300px;
            border: 1px solid black;
        }

        /* REVIEW */
        .review {
            margin: 80px auto 0;
            border: 1px solid black;
            width: 80%;
            height: 300px;
        }

        .review_header {
            height: 80px;
            border-bottom: 1px solid black;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .review_title {
            display: inline-block;
            width: 150px;

        }

        .review_write {
            display: inline-block;
            border: 1px solid black;
            width: 150px;
            text-align: center;
        }

        .review_li {
            border-bottom: 1px solid black;
        }

        /* PAGINATION */
        .pagination {
            margin: 0 auto;
            text-align: center;
            width: 80%;
            height: 50px;
        }

        /* 다른방 둘러보기 */
        .another_rooms {
            margin: 0 auto 50px;
            width: 80%;
        }

        .title {
            text-align: center;
            margin: 10px 0;
        }

        .another_rooms_ul {
            display: flex;
        }

        .another_rooms_li {
            border: 1px solid black;
            margin: 0 10px;

        }

        .another_rooms_img {
            width: 80px;
            height: 80px;
        }

        /* MODAL */
        .modal_window {
            position: fixed;
            top: 0;
            width: 100vw;
            height: 100vh;
            background-color: black;

            opacity: 0.7;
        }

        /* CONTACT */
        .contact_window {
            width: 250px;
            height: 300px;
            background-color: white;
            position: fixed;
            z-index: 3;
            top: 30%;
            left: 45%;
            border-radius: 5px;
        }

        .btn {
            background-color: white;
            border: none;
        }

        .contact_section {
            width: 100%;
            height: 80%;
        }

        .hidden {
            display: none;
        }
    </style>
    <div class="modal_container">
        <div class="modal_window"></div>
    </div>

    <table class="table table-bordered">
        <tbody>
        <tr>
            <td colspan="2">월세 200 / {{ data.first.rent_amount }}원</td>
            <td colspan="2">면적 10평</td>
            <td colspan="6">40만원
                <button type="button" class="btn btn-outline-secondary show_contact"  style="float:right">연락처보기</button>
            </td>
        </tr>
        <tr>
            <td>해당층/건물층</td>
            <td>{{ data.first.floor_num }}층/ {{ data.first.floor_total }}층</td>
            <td>전용/공급면적</td>
            <td>???/???</td>
            <td>방/욕실수</td>
            <td>{{ data.first.room_num }}개/{{ data.first.toilet_num }}개</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>난방종류</td>
            <td>{{ data.first.gas_type }}</td>
            <td>옵션수</td>
            <td>5개</td>
            <td>건물 주차수</td>
            <td>총 4대</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>난방종류</td>
            <td>LPG</td>
            <td>옵션수</td>
            <td>5개</td>
            <td>건물 주차수</td>
            <td>총 4대</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>난방종류</td>
            <td>LPG</td>
            <td>옵션수</td>
            <td>5개</td>
            <td>건물 주차수</td>
            <td>총 4대</td>
            <td></td>
            <td></td>
        </tr>
        </tbody>
    </table>

    <div class="roomImageContainer">
        <div class="roomImage">사진</div>
        <div class="roomImage">사진</div>
        <div class="roomImage">사진</div>
        <div class="roomImage">더보기</div>
    </div>

    <div class="option">
        <div class="option_title">옵션</div>
        <div class="option_list"></div>
    </div>

    <div class="facility">
        <div class="facility_title">시설</div>
        <div class="facility_list"></div>
    </div>

    <div class="review">
        <div class="review_header">
            <div class="review_title">실거주자 리뷰</div>
            <div class="review_write">리뷰작성</div>
        </div>

        <ul class="review_ul">
            <li class="review_li">
                <div class="review_content">
                    <img alt="프로필" class="review_profile">
                </div>
                <div class="review_image"></div>
            </li>
        </ul>
    </div>

    <div class="pagination">
        < 1 2 3 4 5 >
    </div>

    <div class="another_rooms">
        <div class="title">다른 방 둘러보기</div>
        <ul class="another_rooms_ul">
            <li class="another_rooms_li">
                <img src="" alt="다른방" class="another_rooms_img">
                <div class="another_rooms_content">월세 30</div>
            </li>
            <li class="another_rooms_li">
                <img src="" alt="다른방" class="another_rooms_img">
                <div class="another_rooms_content">월세 30</div>
            </li>
            <li class="another_rooms_li">
                <img src="" alt="다른방" class="another_rooms_img">
                <div class="another_rooms_content">월세 30</div>
            </li><li class="another_rooms_li">
                <img src="" alt="다른방" class="another_rooms_img">
                <div class="another_rooms_content">월세 30</div>
            </li><li class="another_rooms_li">
                <img src="" alt="다른방" class="another_rooms_img">
                <div class="another_rooms_content">월세 30</div>
            </li><li class="another_rooms_li">
                <img src="" alt="다른방" class="another_rooms_img">
                <div class="another_rooms_content">월세 30</div>
            </li>
        </ul>
    </div>
    <script>

    </script>
{% endblock %}