{% extends 'base.html' %}
{% load static %}
{% block content %}
    <table class="table table-bordered">
        <tbody>
        <tr>
            <td width="12.5%">해당층/건물층</td>
            <td width="12.5%">1층/5층</td>
            <td width="12.5%">전용/공급면적</td>
            <td width="12.5%">???/???</td>
            <td width="12.5%">방/욕실수</td>
            <td width="12.5%">1개/1개</td>
            <td width="12.5%"></td>
            <td width="12.5%"></td>
        </tr>
        <tr>
            <td width="12.5%">난방종류</td>
            <td width="12.5%">LPG</td>
            <td width="12.5%">옵션수</td>
            <td width="12.5%">5개</td>
            <td width="12.5%">건물 주차수</td>
            <td width="12.5%">총 4대</td>
            <td width="12.5%"></td>
            <td width="12.5%"></td>
        </tr>
        <tr>
            <td width="12.5%">난방종류</td>
            <td width="12.5%">LPG</td>
            <td width="12.5%">옵션수</td>
            <td width="12.5%">5개</td>
            <td width="12.5%">건물 주차수</td>
            <td width="12.5%">총 4대</td>
            <td width="12.5%"></td>
            <td width="12.5%"></td>
        </tr>
        <tr>
            <td width="12.5%">난방종류</td>
            <td width="12.5%">LPG</td>
            <td width="12.5%">옵션수</td>
            <td width="12.5%">5개</td>
            <td width="12.5%">건물 주차수</td>
            <td width="12.5%">총 4대</td>
            <td width="12.5%"></td>
            <td width="12.5%"></td>
        </tr>
        </tbody>
    </table>
{% endblock %}