{% extends 'base.html' %}
{% block content %}
    <style>
        .aiQuestionBox {

        }
    </style>


    <div class="subPage oneRoomPage">
        <section class="oneRoomArea" style="padding: 120px 0 0 0">
            <h2 class="hidden">원룸</h2>
            <div class="contArea">
                <div class="mapArea">
                    <div class="inputArea">
                        <div>
                            <input type="text">
                            <button></button>
                        </div>
                        <button>필터</button>
                        <button onclick="fetchData()">AI 추천</button>
                    </div>

                    <!-- AI TEST -->
{#                    <div class="aiQuestionBox">#}
{#                        <form method="POST">#}
{#                            <span>질문 A</span><input type="radio"><input type="radio">#}
{#                        </form>#}
{#                    </div>#}
                    <!-- AI TEST -->

                    <div class="myMap"></div>
                </div>
                <div class="listArea">
                    <div class="bottomArea">
                        <ul>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <script src="//dapi.kakao.com/v2/maps/sdk.js?appkey=98a0001a3486109fd99e7a58b946cfbe&libraries=clusterer,services"></script>
    <script src="../static/scripts/com.js"></script>
    <script type="text/javascript">
        const container = document.querySelector('.myMap');
        const itemList = document.querySelector('.bottomArea > ul');
        const MNU_LATITUDE = 34.91124654247272;
        const MNU_LONGITUDE = 126.43614580709644;

        let imageSrc = '../../static/images/maker.png', // 마커이미지의 주소입니다
            imageSize = new kakao.maps.Size(30, 30), // 마커이미지의 크기입니다
            imageOption = {offset: new kakao.maps.Point(10, 30)}; // 마커이미지의 옵션입니다. 마커의 좌표와 일치시킬 이미지 안에서의 좌표를 설정합니다.

        // 마커를 표시할 위치와 해당 정보를 담은 배열
        let positions = [
            {% if data %}
                {% for i in data %}
                    {
                        id: {{ i.id }},
                        title: '{{ i.title }}',
                        rent_type: '{{ i.rent_type }}',
                        rent_amount: '{{ i.rent_amount }}',
                        deposit: '{{ i.deposit }}',
                        latlng: new kakao.maps.LatLng({{ i.latitude }}, {{ i.longitude }}), // 원룸 좌표
                        main_img: '{{ i.file_set.first.file.url }}',
                        floor_num: '{{ i.floor_num }}',
                        common_area: '{{ i.common_area }}',
                        address: '{{ i.address }}',
                        manage_amount: '{{ i.manage_amount }}'
                    },
                {% endfor %}
            {% endif %}
        ];

        const options = {
            center: new kakao.maps.LatLng(MNU_LATITUDE, MNU_LONGITUDE), // 지도의 중심 좌표
            level: 5 // 지도의 레벨(확대, 축소 정도)
        };

        const map = new kakao.maps.Map(container, options); //지도 생성 및 객체 리턴

        for (let i = 0, len = positions.length; i < len; i++) {
            let info = {
                id: positions[i].id,
                title: positions[i].title,
                rent_type: positions[i].rent_type,
                rent_amount: positions[i].rent_amount,
                deposit: positions[i].deposit,
                main_img: positions[i].main_img,
                floor_num: positions[i].floor_num,
                common_area: positions[i].common_area,
                address: positions[i].address,
                manage_amount: positions[i].manage_amount
            }
            // 마커를 생성하고 지도위에 표시합니다
            addMarker(positions[i].latlng, info);
            // 아이템 모두 표시
            showAllItems(info);
        }

        // 마커를 생성하고 지도 위에 표시하고, 마커에 mouseover, mouseout, click 이벤트를 등록하는 함수입니다
        function addMarker(latlng, info) {
            // 마커의 이미지정보를 가지고 있는 마커이미지를 생성합니다
            var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize, imageOption),
                markerPosition = latlng; // 마커가 표시될 위치입니다

            // 마커를 생성합니다
            var marker = new kakao.maps.Marker({
                position: markerPosition,
                image: markerImage // 마커이미지 설정
            });

            // 마커에 click 이벤트를 등록합니다
            kakao.maps.event.addListener(marker, 'click', function () {
                // 기존 item 들을 삭제합니다.
                while (itemList.firstChild) {
                    itemList.removeChild(itemList.firstChild);
                }
                // 클릭한 마커에 해당되는 list 보여주기
                setListItem(info);
            });
            // 마커가 지도 위에 표시되도록 설정합니다
            marker.setMap(map);
        }

        ////////////////////////////////////////////////////////////////////////////// CUSTOM

        // 첫 로드시 리스트에 방들을 전부 보여주는 함수
        function showAllItems(info) {
            const roomInfo = roomListItem(info);

            itemList.insertAdjacentHTML('beforeend', roomInfo);
        }

        // 마커 클릭시 리스트에 방들을 보여주는 함수
        function setListItem(info) {
            const roomInfo = roomListItem(info);
            itemList.innerHTML = roomInfo;
        }

        function roomListItem(info) {
            return ` <li>
                 <a onclick="location.href=${info.id}">
                     <div class="imgBox" style="background-image: url(${info.main_img})"></div>

                     <div class="textArea">
                         <strong>
                             <small>${info.title}</small>
                             ${info.rent_type} ${info.deposit} / ${info.rent_amount}
                         </strong>
                         <p>${info.floor_num}층 ${info.common_area}㎡ 관리비 ${info.manage_amount}만원</p>
                         <p>${info.address}</p>
                         <div>
                             <span>원룸</span>
                             <span>공대근처</span>
                             <span>다이소근처</span>
                         </div>
                     </div>
                 </a>
             </li>
            `
        }


        /////////////////////// 추천 알고리즘 코드
        // user의 선호도 값을 받아오는 함수 .
        function getUserPreference() {
            let preference = {}

            const A = document.getElementsByName('A');

            return preference
        }
        // 예시 사용자 선택 데이터
        let ai = {
            "A": "0",
            "B": "1",
            "C": "0",
            "D": "1",
            "E": "0",
        }

        // 산술평균 값 key로 정렬
        function arithmeticMean(json, ai) {
            let keys = Object.keys(json[0]);
            let arithmeticMean = {}

            for (let i = 0; i < json.length; i++) {
                let sum = 0
                let post = json[i][keys[0]];
                for (let k = 1; k < keys.length; k++) {
                    let post_score = json[i][keys[k]];
                    sum += post_score * ai[keys[k]]
                }
                arithmeticMean[post] = sum
            }
            return Object.keys(arithmeticMean).sort((a, b) => {
                return arithmeticMean[b] - arithmeticMean[a]
            });
        }

        // 서버로 Data 전송
        function sendData(str) {
            fetch('주소들어갈 자리', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    data:str
                })
            });
        }

        // JSON 데이터 받아오는 함수
        function fetchData() {
            fetch('http://127.0.0.1:8000/api/oneroom/')
                .then(response => response.json())
                .then(data => {
                    let userPreference = getUserPreference();
                    const preference_str = arithmeticMean(data, userPreference).join();
                    alert(`${preference_str} 전송 완료`);
                })
        }
    </script>
{% endblock %}