<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<table>
    <thead>
    <tr>
        <th>
            원룸 이름
        </th>
        <th>
            가스종류
        </th>
        <th>
            작성자
        </th>
        <th>
            작성일자
        </th>
    </tr>
    </thead>
    {% if data_list %}
        {% for data in data_list %}
            <tbody>
            <tr>
                <td>
                    {{ data.title }}
                </td>
                <td>
                    {{ data.gas_type }}
                </td>
                <td>
                    {{ data.author }}
                </td>
                <td>
                    {{ data.create_date }}
                </td>
            </tr>
            </tbody>
        {% endfor %}
    {% endif %}
</table>

</body>
</html>