{% extends 'base.html' %}
{% block content %}
    <!-- 원룸 추천 로딩 gif -->
    <div class="loading_page none" style="z-index: 10">
        <div class="modal_bg">
            <div class="ring">t o c h
                <span class="ring_span"></span>
            </div>
        </div>
    </div>
    <!-- 원룸 추천 로딩 gif -->
    <div class="subPage oneRoomPage">
        <section class="oneRoomArea">
            <h2 class="hidden">원룸</h2>
            <div class="contArea">
                <div class="mapArea">
                    <div class="inputArea">
                        <div class="seachBox">
                            <input type="search" placeholder=" 원룸 이름 검색">
                            <button class="oneroom_search_btn">검색버튼</button>
                        </div>
                        <button data-popup="filter_box">AI 추천</button>
                        <div class="filter_box">
                            <form>
                                <fieldset>
                                    <div>
                                        <button class="ai_reset_btn">초기화</button>
                                    </div>
                                    <ul>
                                        <li>
                                            <label>반려동물</label>
                                            <div>
                                                <input type="radio" id="pet_yes" class="ai_answer" name="pet" value="1">
                                                <label for="pet_yes">Yes</label>
                                                <input type="radio" id="pet_no" class="ai_answer" name="pet" value="0">
                                                <label for="pet_no">No</label>
                                            </div>
                                        </li>
                                        <li>
                                            <label>자차보유</label>
                                            <div>
                                                <input type="radio" id="car_yes" class="ai_answer" name="car" value="1">
                                                <label for="car_yes">Yes</label>
                                                <input type="radio" id="car_no" class="ai_answer" name="car" value="0">
                                                <label for="car_no">No</label>
                                            </div>
                                        </li>
                                        <li>
                                            <label>외향/내향</label>
                                            <div>
                                                <input type="radio" id="personality_yes" class="ai_answer" name="personality" value="1">
                                                <label for="personality_yes">Yes</label>
                                                <input type="radio" id="personality_no" class="ai_answer" name="personality" value="0">
                                                <label for="personality_no">No</label>
                                            </div>
                                        </li>
                                    </ul>
                                    <button class="ai_reco_btn">Toch AI 추천</button>
                                    <span class="material-icons-outlined closeBtn">
                                        ×
                                    </span>
                                </fieldset>
                            </form>
                        </div>

                        <button data-popup="AI_box">필터</button>

                        <div class="AI_box">
                            <form>
                                <fieldset>
                                    <div class="filter_header">
                                        <button class="filter_reset_btn">초기화</button>
                                    </div>

                                    <ul>
                                        <li class="transaction_type">
                                            <label>거래유형</label>
                                            <mark class="transaction_type_mark">전체</mark>
                                            <div>
                                                <input type="radio" id="yearly" name="transaction_type">
                                                <label for="yearly">연세</label>
                                                <input type="radio" id="monthly" name="transaction_type" checked="true">
                                                <label for="monthly">월세</label>
                                                <input type="radio" id="jeonse" name="transaction_type">
                                                <label for="jeonse">전세</label>
                                            </div>
                                        </li>

                                        <li>
                                            <label>보증금</label>
                                            <mark class="deposit_mark">전체</mark>
                                            <div>
                                                <div class="rangeBox">
                                                    <input type="range" min="0" max="1000" value="0" step="10"
                                                           class="filter_range_input deposit_range" style="width:563px">
                                                </div>
                                            </div>
                                        </li>

                                        <li class="transaction_type_range">
                                            <label class="transaction_type_label">월세</label>
                                            <mark class="monthly_mark ">전체</mark>
                                            <mark class="yearly_mark none">연세</mark>
                                            <div>
                                                <div class="rangeBox">
                                                    <input type="range" min="0" max="100" value="0" step="5"
                                                           class="filter_range_input monthly_range" style="width:563px">
                                                    <input type="range" min="0" max="1000" value="0" step="50"
                                                           class="filter_range_input yearly_range none"
                                                           style="width:563px">
                                                </div>
                                            </div>
                                        </li>
                                    </ul>

                                    <span class="material-icons-outlined closeBtn">
                                        ×
                                    </span>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                    <!-- KaKao Map -->
                    <div class="myMap"></div>
                </div>
                <div class="listArea">
                    <div class="bottomArea">
                        <ul>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <script src="//dapi.kakao.com/v2/maps/sdk.js?appkey=98a0001a3486109fd99e7a58b946cfbe&libraries=clusterer,services"></script>
    <script src="../static/scripts/com.js"></script>
    <script src="../static/scripts/map.js"></script>
    <script>
        let positions = [];
        {% if data %}
            {% for i in data %}
                positions.push({
                    id: {{ i.id }},
                    title: '{{ i.title }}',
                    rent_type: '{{ i.rent_type }}',
                    rent_amount: '{{ i.rent_amount }}',
                    deposit: '{{ i.deposit }}',
                    latlng: new kakao.maps.LatLng({{ i.latitude }}, {{ i.longitude }}), // 원룸 좌표
                    main_img: '{{ i.file_set.first.file.url }}',
                    floor_num: '{{ i.floor_num }}',
                    common_area: '{{ i.common_area }}',
                    address: '{{ i.address }}',
                    manage_amount: '{{ i.manage_amount }}',
                    room_num: '{{ i.room_num }}',
                })
            {% endfor %}
        {% endif %}


        // 마커들을 담을 배열
        const markers = [];
        let current_markers = [];

        function renderAllRooms() {
            positions.map(room => {
                addMarker(room);
                renderRoom(room);
            })
        }

        renderAllRooms();

        // 마커 생성, 지도 위에 표시
        function addMarker(info) {
            let content = document.createElement('div');
            content.classList.add('custom_overlay');
            content.textContent = info.room_num;
            content.onclick = () => {
                console.log(content.className);
                removeAllRooms();
                renderRoom(info);
            }

            // 커스텀 오버레이를 생성합니다
            let marker = new kakao.maps.CustomOverlay({
                position: info.latlng,
                content: content
            });

            current_markers.push(marker);
            markers.push(marker)
            // 마커가 지도 위에 표시되도록 설정합니다.
            marker.setMap(map);

            //마커에 click 이벤트를 등록
            //const customOverlay = document.querySelector('.custom_overlay');
            //customOverlay.addEventListener('click', () => {
            //    console.log('custon_overlay Clicked');
            //    removeAllRooms();
            //    renderRoom(info);
            //});
        }

        // 지도가 확대 또는 축소되면 마지막 파라미터로 넘어온 함수를 호출하도록 이벤트를 등록합니다
        kakao.maps.event.addListener(map, 'zoom_changed', function () {
            let level = map.getLevel();
            current_markers.map(marker => marker.cc.className = `custom_overlay level${level}`);
        });


        function removeAllMarkers() {
            current_markers.map(marker => marker.setMap(null));
        }

        // 기존 item 들을 삭제합니다.
        function removeAllRooms() {
            while (itemList.firstChild) {
                itemList.removeChild(itemList.firstChild);
            }
        }

        // 오른쪽 리스트에 방 추가
        function renderRoom(info) {
            const roomInfo = roomTemplate(info);
            itemList.insertAdjacentHTML('beforeend', roomInfo);
        }

        function roomTemplate(info) {
            return ` <li>
                 <a onclick="location.href=${info.id}">
                     <div class="imgBox" style="background-image: url(${info.main_img})"  id="room${info.id}"></div>

                     <div class="textArea">
                         <strong>
                             <small>${info.title}</small>
                             ${info.rent_type} ${info.deposit} / ${info.rent_amount}
                         </strong>
                         <p>${info.floor_num}층 ${info.common_area}㎡ 관리비 ${info.manage_amount}만원</p>
                         <p>${info.address}</p>
                         <div>
                             <span >원룸</span>
                             <span>공대근처</span>
                             <span>다이소근처</span>
                         </div>
                     </div>
                 </a>
             </li>
            `
        }

        //////////////////////////////////////////////////////////////
        /////////////////////// 추천 알고리즘 코드  //////////////////////
        //////////////////////////////////////////////////////////////
        const ai_reco_btn = document.querySelector('.ai_reco_btn');
        const loading_page = document.querySelector('.loading_page');
        ai_reco_btn.addEventListener('click', e => {
            e.preventDefault();
            let userPreference = getUserAI();

            // ai form Null Check
            loading_page.classList.remove('none');
            setTimeout(() => {
                loading_page.classList.add('none');
                fetchData(userPreference);
            }, 3500)
        })

        function getUserAI() {
            const pet = document.getElementsByName('pet');
            const car = document.getElementsByName('car');
            const personality = document.getElementsByName('personality');
            const userAi = {};

            Array(pet).map(q => { if(q.checked) userAi['A'] = q.value; });
            Array(car).map(q => { if(q.checked) userAi['B'] = q.value; });
            Array(personality).map(q => { if(q.checked) userAi['C'] = q.value; });

            return userAi
        }

        // 산술평균 값 ( key로 정렬 )
        function arithmeticMean(json, ai) {
            let keys = Object.keys(json[0]);
            let arithmeticMean = {}

            for (let i = 0; i < json.length; i++) {
                let sum = 0
                let post = json[i][keys[0]];
                for (let k = 1; k < keys.length; k++) {
                    let post_score = json[i][keys[k]];
                    sum += post_score * ai[keys[k]]
                }
                arithmeticMean[post] = sum
            }
            return Object.keys(arithmeticMean).sort((a, b) => {
                return arithmeticMean[b] - arithmeticMean[a]
            });
        }

        // JSON 데이터 받아오는 함수
        function fetchData(userPreference) {
            fetch('https://toch.kr/api/oneroom/')
            .then(response => response.json())
            .then(data => {
                removeAllMarkers();
                removeAllRooms();
                let arith_result = arithmeticMean(data, userPreference);
                for(let i=0; i<3; i++) {
                    for(let j=0; j<positions.length; j++) {
                        if(positions[j].id === Number(arith_result[i])) {
                            renderRoom(positions[j]);
                            addMarker(positions[j]);
                        }
                    }
                }
            })
            .catch(err => console.log('Error Message : ' + err));
        }

        // 필터  eventHandler

        const deposit_mark = document.querySelector('.deposit_mark');
        const monthly_mark = document.querySelector('.monthly_mark');
        const yearly_mark = document.querySelector('.yearly_mark');
        const transaction_type_mark = document.querySelector('.transaction_type_mark');
        const transaction_type_label = document.querySelector('.transaction_type_label');
        const deposit_range = document.querySelector('.deposit_range');
        const monthly_range = document.querySelector('.monthly_range');
        const yearly_range = document.querySelector('.yearly_range');

        let isFilterChange = false;
        let isAiFormChange = false;

        const ai_box = document.querySelector('.AI_box');
        ai_box.addEventListener('input', e => {
            isFilterChange = true;
            const self = e.target;
            // 매물 리스트 초기화
            removeAllRooms();
            // 마커 초기화
            removeAllMarkers();
            // 거래 유형(전,월세) 선택에 따른 UI 업데이트
            transTypeHandler(self);
            // 범위바 변경에 따른 UI 업데이트
            rangeHandler(self);
            // 검색 조건에 맞는 매물 없을 경우
            if (!itemList.firstChild) {
                itemList.innerHTML = `
                    <p style="position: relative; width: 100%; height: 100%; font-size: 20px; display: flex; flex-direction: column; align-items: center; justify-content: center">
                        <span style="font-size: 30px; font-weight: bold;">검색조건에 맞는 매물이 없습니다.</span>
                        <br>
                        <span>거래 유형 설정과 필터값을 변경해보세요.</span>
                    </p>
                `;
            }
        })

        function toggleRangeBar(target) {
            if (target.className.includes('none')) {
                monthly_range.classList.toggle('none');
                yearly_range.classList.toggle('none');
                monthly_mark.classList.toggle('none');
                yearly_mark.classList.toggle('none');
            }
        }

        function stylingRangeBar(el, rate = 10) {
            el.style.background = 'linear-gradient(to right, #ff9900 0%, #ff9900 ' + el.value / rate + '%, #fff ' + el.value / 10 + '%, white 100%)';
        }

        function transTypeHandler(self) {
            if (self.name.includes('transaction')) {
                let type_id = self.id;
                let transaction_type = '';

                if (type_id === 'yearly') {
                    transaction_type = '연세'
                    toggleRangeBar(yearly_range);
                } else if (type_id === 'monthly') {
                    transaction_type = '월세'
                    toggleRangeBar(monthly_range);
                } else if (type_id === 'jeonse') {
                    transaction_type = '전세'
                }

                transaction_type_mark.textContent = transaction_type;
                transaction_type_label.textContent = transaction_type;

                positions.map(room => {
                    if (room.rent_type === transaction_type) {
                        renderRoom(room);
                        addMarker(room);
                    }
                })
            }
        }

        function rangeHandler(self) {
            if (self.className.includes('filter_range_input')) {
                let monthly_value;
                let deposit_value;
                let yearly_value;
                let filtered_room = [];
                // 범위 바 UI 업데이트
                if (self.className.includes('deposit')) {
                    deposit_value = Number(self.value);
                    stylingRangeBar(self);
                    deposit_mark.textContent = deposit_value + '만원 이하';
                }
                if (self.className.includes('monthly')) {
                    monthly_value = Number(self.value);
                    stylingRangeBar(self, 1);
                    monthly_mark.textContent = monthly_value + '만원 이하';
                }
                if (self.className.includes('yearly')) {
                    yearly_value = Number(self.value);
                    stylingRangeBar(self);
                    yearly_mark.textContent = yearly_value + '만원 이하';
                }
                // 보증금, 월세 둘다 필터 있는경우
                // 연세도 추가해야함.
                if (deposit_value && monthly_value) {
                    filtered_room = positions.filter(room => room.deposit <= deposit_value && room.rent_amount <= monthly_value);
                } else if (deposit_value) { // 보증금만 필터 있는경우
                    filtered_room = positions.filter(room => room.deposit <= deposit_value);
                } else if (monthly_value) { // 월세만
                    filtered_room = positions.filter(room => room.rent_amount <= monthly_value);
                }
                filtered_room.map(room => {
                    renderRoom(room);
                    addMarker(room);
                })
            }
        }

        // 초기화
        const radio_btn = document.querySelectorAll('input[type="radio"]');
        const ai_reset_btn = document.querySelector('.ai_reset_btn');
        ai_reset_btn.addEventListener('click', resetAiForm);

        function resetAiForm(e) {
            e.preventDefault();
            if (!isAiFormChange) {
                isAiFormChange = true;
                for (let i = 0; i < radio_btn.length; i++) {
                    let btn = radio_btn[i];
                    if (btn.name != "transaction_type") {
                        btn.checked = false;
                    }
                }
            }
        }

        const filter_reset_btn = document.querySelector('.filter_reset_btn');
        filter_reset_btn.addEventListener('click', e => {
            e.preventDefault();
            // 이미 초기화 상태일 경우 early return
            if(!isFilterChange) {
                return;
            }
            isFilterChange = false;

            for (let i = 0; i < radio_btn.length; i++) {
                let btn = radio_btn[i];
                if (btn.name === "transaction_type") {
                    btn.checked = false;
                }
            }
            // 거래유형 초기화
            monthly_mark.textContent = '전체';
            yearly_mark.textContent = '전체';
            deposit_mark.textContent = '전체';
            transaction_type_mark.textContent = '전체';

            deposit_range.value = 0;
            monthly_range.value = 0;
            yearly_range.value = 0;

            // 보증금 금액 초기화, 범위 막대 초기화
            stylingRangeBar(deposit_range);
            stylingRangeBar(monthly_range);
            stylingRangeBar(yearly_range);

            toggleRangeBar(monthly_range);

            removeAllRooms();
            removeAllMarkers();

            renderAllRooms();

            current_markers = markers;
            current_markers.map(marker => marker.setMap(map));
        });
    </script>
    <script src="../../static/scripts/search.js"></script>
    <script src="../../static/scripts/cookie.js"></script>
    <script src="../../static/scripts/toggle.js"></script>
{% endblock %}