.oneroom_table_btn {
    position: fixed;
    top: 13%;
    left: 2%;
    width: 45px;
    height: 45px;
    background-color: black;
    border-radius: 50%;
    z-index: 5;
    line-height: 45px;
    text-align: center;
    opacity: 0.6;
    color: white;
}

.oneroom_table_container {
    margin-top: 5px;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 20%;
    left: 2%;
    width: 96%;
    height: 55%;
    z-index: 5;
    background-color: black;
    opacity: 0.6;
    color: white;
    overflow: auto;
}

.oneroom_table {
    height: fit-content;
    margin-top: 20px;
    text-align: center;
}

.table_head {
    padding: 10px 5px;
    font-size: 20px;
    font-weight: bold;
}

.oneroom_table > th,td {
    padding: 10px 5px;
}

.none {
    display: none;
}
