.custom_overlay {
  display : flex;
  align-items: center;
  justify-content: center;
  background-color:#ff9900;
  width :34px;
  height: 34px;
  border-radius: 50%;
  text-align : center;
  opacity : 0.7;
  font-size: 15px;
  font-weight: bold;
}

.custom_overlay:hover {
  cursor: pointer;
  transition: all 0.2s;
  opacity: 1;
}
