{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'etc/job_opening.css' %}">
</head>
<body>
<div class="title">
    <h1 class="title_top">toch</h1>
    <h3 class="title_bottom">구인공고</h3>
</div>
<div class="content-container">
    <div class="content">
        <h1 class="content-title">Front End 개발자</h1>
        <h3 class="content-content-title">담당업무 </h3>
        <p class="content-content-content">toch 서비스 Front-End 개발</p>
        <h3 class="content-content-title">지원방법</h3>
        <p class="content-content-content">toch 서비스 Front-End 개발</p>
        <h3 class="content-content-title">자격요건</h3>
        <p class="content-content-content">toch 서비스 Front-End 개발</p>
        <h3 class="content-content-title">우대사항</h3>
        <p class="content-content-content">toch 서비스 Front-End 개발</p>

    </div>
    <div class="content">
        <h1 class="content-title">Back End 개발자</h1>
        <h3 class="content-content-title">담당업무</h3>
        <p class="content-content-content">toch 서비스 Front-End 개발</p>
        <h3 class="content-content-title">지원방법</h3>
        <p class="content-content-content">toch 서비스 Front-End 개발</p>
        <h3 class="content-content-title">자격요건</h3>
        <p class="content-content-content">toch 서비스 Front-End 개발</p>
        <h3 class="content-content-title">우대사항</h3>
        <p class="content-content-content">toch 서비스 Front-End 개발</p>
    </div>
    <div class="content">
        <h1 class="content-title">디자이너</h1>
        <h3 class="content-content-title">담당업무</h3>
        <p class="content-content-content">toch 서비스 Front-End 개발</p>
        <h3 class="content-content-title">지원방법</h3>
        <p class="content-content-content">toch 서비스 Front-End 개발</p>
        <h3 class="content-content-title">자격요건</h3>
        <p class="content-content-content">toch 서비스 Front-End 개발</p>
        <h3 class="content-content-title">우대사항</h3>
        <p class="content-content-content">toch 서비스 Front-End 개발</p>
    </div>
    <div class="content">
        <h1 class="content-title">기획자</h1>
        <h3 class="content-content-title">담당업무</h3>
        <p class="content-content-content">toch 서비스 Front-End 개발</p>
        <h3 class="content-content-title">지원방법</h3>
        <p class="content-content-content">toch 서비스 Front-End 개발</p>
        <h3 class="content-content-title">자격요건</h3>
        <p class="content-content-content">toch 서비스 Front-End 개발</p>
        <h3 class="content-content-title">우대사항</h3>
        <p class="content-content-content">toch 서비스 Front-End 개발</p>
    </div>
    <div class="content">
        <h1 class="content-title">마케팅 / 영업</h1>
        <h3 class="content-content-title">담당업무</h3>
        <p class="content-content-content">toch 서비스 Front-End 개발</p>
        <h3 class="content-content-title">지원방법</h3>
        <p class="content-content-content">toch 서비스 Front-End 개발</p>
        <h3 class="content-content-title">자격요건</h3>
        <p class="content-content-content">toch 서비스 Front-End 개발</p>
        <h3 class="content-content-title">우대사항</h3>
        <p class="content-content-content">toch 서비스 Front-End 개발</p>
    </div>
</div>
</body>
</html>