{% extends 'base.html' %}
{% block content %}
    <div class="subPage communityPage">
        <div class="asideBox detailArea width1200">
            <h2 class="hidden">커뮤니티</h2>
            <div class="leftContArea">
                <h3>자유게시판</h3>
                <div class="titlaArea">
                    <p>{{ data.0.title }}</p>
                    <div>
                        <span>{{ data.0.author }}</span>
                        <time>{{ data.0.create_date }}</time>
                        <span>256</span>
                        <div class="iconBox">
                            <div class="imgBox upIcon">
                                업 아이콘
                            </div>
                            <span>
                                10
                            </span>
                            <div class="imgBox downIcon">
                                다운 아이콘
                            </div>
                            <span>
                                10
                            </span>
                            <div class="imgBox commentIcon">
                                댓글 아이콘
                            </div>
                            <span>
                                5
                            </span>
                        </div>
                    </div>
                    <button>수정</button>
                </div>

                <div class="contentsArea">
                    {{ data.0.content }}
                </div>

                <div class="commentBox">
                    <strong>댓글</strong>
                    <div class="userBox">
                        <div class="imgBox" style="background-image: url(../../static/images/oneroom_user01.png);">
                            회원 이미지
                        </div>
                        <div class="textArea">
                            <b>아이디랍니다</b>
                            <p>팔렸나요?</p>
                            <div>
                                <time>2021.09.20 <span>18:00</span></time>
                                <div class="iconBox">
                                    <div class="imgBox upIcon">
                                        업 아이콘
                                    </div>
                                    <span>
                                        10
                                    </span>
                                    <div class="imgBox downIcon">
                                        다운 아이콘
                                    </div>
                                    <span>
                                        10
                                    </span>
                                </div>
                                <ul class="btnArea">
                                    <li><button>대댓글</button></li>
                                    <li><button>좋아요</button></li>
                                    <li><button>쪽지</button></li>
                                    <li><button>신고</button></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="userBox">
                        <img src="images/commentIcon01.png" alt="">
                        <div class="imgBox" style="background-image: url(../../static/images/oneroom_user02.png);">
                            회원 이미지
                        </div>
                        <div class="textArea">
                            <b>아이디랍니다</b>
                            <p>팔렸나요?</p>
                            <div>
                                <time>2021.09.20 <span>18:00</span></time>
                                <div class="iconBox">
                                    <div class="imgBox upIcon">
                                        업 아이콘
                                    </div>
                                    <span>
                                        10
                                    </span>
                                    <div class="imgBox downIcon">
                                        다운 아이콘
                                    </div>
                                    <span>
                                        10
                                    </span>
                                </div>
                                <ul class="btnArea">
                                    <li><button>대댓글</button></li>
                                    <li><button>좋아요</button></li>
                                    <li><button>쪽지</button></li>
                                    <li><button>신고</button></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="userBox">
                        <div class="imgBox" style="background-image: url(../../static/images/oneroom_user01.png);">
                            회원 이미지
                        </div>
                        <div class="textArea">
                            <b>아이디랍니다</b>
                            <p>팔렸나요?</p>
                            <div>
                                <time>2021.09.20 <span>18:00</span></time>
                                <div class="iconBox">
                                    <div class="imgBox upIcon">
                                        업 아이콘
                                    </div>
                                    <span>
                                        10
                                    </span>
                                    <div class="imgBox downIcon">
                                        다운 아이콘
                                    </div>
                                    <span>
                                        10
                                    </span>
                                </div>
                                <ul class="btnArea">
                                    <li><button>대댓글</button></li>
                                    <li><button>좋아요</button></li>
                                    <li><button>쪽지</button></li>
                                    <li><button>신고</button></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="enrollmentBox">
                    <b>ddbbnncc87</b>
                    <textarea></textarea>
                    <button><mark>등록</mark></button>
                </div>

                <div class="linkArea">
                    <a href="#" class="blackBtn">글 목록</a>
                </div>
            </div>
            <aside>
                <div class="boardArea">

                    <div class="borderBox">
                        <strong>실시간 인기 글</strong>
                        <ul>
                            <li>
                                <a href="#">
                                    <b>
                                        우리학교 로고 어디서 봤나
                                        <span>존똑이네</span>
                                    </b>
                                    <p>자유게시판</p>
                                    <div class="iconBox">
                                        <div class="imgBox heartIcon">
                                            하트 아이콘
                                        </div>
                                        <span>
                                            10
                                        </span>
                                        <div class="imgBox commentIcon">
                                            메일 아이콘
                                        </div>
                                        <span>
                                            5
                                        </span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <b>
                                        우리학교 로고 어디서 봤나
                                        <span>존똑이네</span>
                                    </b>
                                    <p>자유게시판</p>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <!-- side banner -->
                <div class="mainSideBanner">
                    <img src="../../static/images/main_sideBanner.png" alt="라포르테블랑 서현">
                </div>

                <div class="boardArea">
                    <div class="borderBox">
                        <strong>여기 어때요?</strong>
                        <ul>
                            <li>
                                <a href="#">
                                    <b>
                                        베스트빌 원룸 상태 깨끗
                                    </b>
                                    <p>월세 200 / 40</p>
                                    <p>26m2</p>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <b>
                                        베스트빌 원룸 상태 깨끗
                                    </b>
                                    <p>월세 200 / 40</p>
                                    <p>26m2</p>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <b>
                                        베스트빌 원룸 상태 깨끗
                                    </b>
                                    <p>월세 200 / 40</p>
                                    <p>26m2</p>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </aside>
        </div>
    </div>
{% endblock %}