@font-face {
    font-family: 'NanumBarunGothic';
    src: url('/static/etc/font/NanumBarunGothic.eot');
    src: url('/static/etc/font/NanumBarunGothic.eot') format('embedded-opentype'),
    url('/static/etc/font/NanumBarunGothic.woff') format('woff');
}

@font-face {
    font-family: 'NanumBarunGothicBold';
    src: url('/static/etc/font/NanumBarunGothicBold.eot');
    src: url('/static/etc/font/NanumBarunGothicBold.eot') format('embedded-opentype'),
    url('/static/etc/font/NanumBarunGothicBold.woff') format('woff');
}

body {
    font-family: 'NanumBarunGothic', 'serif';
    font-size: 170%;
}

div.title {
    padding: 68px 0 69px;
    margin-left: auto;
    margin-right: auto;
}

h1.title_top {
    font-family: 'NanumBarunGothicBold', 'serif';
    margin-top: 0;
    font-size: 700%;
    text-align: center;
    color: #ff9900;
    font-weight: bold;
}

h3.title_bottom {
    margin-top: -8rem;
    text-align: center;
}

div.content-container {
    margin-left: 10%;
}

div.content {
    margin-bottom: 10%;
}

h3.content-content-title {
    margin-left: 3%;
}

p.content-content-content {
    margin-top: -1%;
    margin-left: 6%;
}