{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="subPage myPage">
    <section class="width1200 myArea">
        <h2>메인페이지</h2>
        <ul class="menuBox">
            <li>
                <a href="{% url 'common:mypage' %}">회원정보</a>
            </li>
            <li>
                <a href="{% url 'common:usedtrade_chat' %}" data-count="3">중고거래</a>
            </li>
            <li class="active">
                <a href="{% url 'common:community_chat' %}" data-count="3">커뮤니티</a>
            </li>
            <li>
                <a href="{% url 'common:service' %}">문의</a>
            </li>
        </ul>

        <div class="tolkBox commuArea">
            <div class="tolkList">
                <ul>
                    <li class="active">
                        <b>김개똥</b>
                        <time>오후 9:01</time>
                        <p>거래 보고 연락 거래 보고 연락..</p>
                        <span>3</span>
                    </li>
{#                    <li>#}
{#                        <b>익명</b>#}
{#                        <time>오전 11:01</time>#}
{#                        <p>팔렸나요?</p>#}
{#                    </li>#}
{#                    <li>#}
{#                        <b>111</b>#}
{#                        <time>어제</time>#}
{#                        <p>못갈것 같아요~</p>#}
{#                    </li>#}
{#                    <li>#}
{#                        <b>111</b>#}
{#                        <time>어제</time>#}
{#                        <p>못갈것 같아요~</p>#}
{#                    </li>#}
{#                    <li>#}
{#                        <b>111</b>#}
{#                        <time>어제</time>#}
{#                        <p>못갈것 같아요~</p>#}
{#                    </li>#}
{#                    <li>#}
{#                        <b>111</b>#}
{#                        <time>어제</time>#}
{#                        <p>못갈것 같아요~</p>#}
{#                    </li>#}
{#                    <li>#}
{#                        <b>111</b>#}
{#                        <time>어제</time>#}
{#                        <p>못갈것 같아요~</p>#}
{#                    </li>#}
{#                    <li>#}
{#                        <b>111</b>#}
{#                        <time>어제</time>#}
{#                        <p>못갈것 같아요~</p>#}
{#                    </li>#}
{#                    <li>#}
{#                        <b>111</b>#}
{#                        <time>어제</time>#}
{#                        <p>못갈것 같아요~</p>#}
{#                    </li>#}
{#                    <li>#}
{#                        <b>111</b>#}
{#                        <time>어제</time>#}
{#                        <p>못갈것 같아요~</p>#}
{#                    </li>#}
{#                    <li>#}
{#                        <b>111</b>#}
{#                        <time>어제</time>#}
{#                        <p>못갈것 같아요~</p>#}
{#                    </li>#}
{#                    <li>#}
{#                        <b>111</b>#}
{#                        <time>어제</time>#}
{#                        <p>못갈것 같아요~</p>#}
{#                    </li>#}
                </ul>
            </div>
            <div class="tolkDetail">
                <div class="tolkSubject">
                    <p>
                        자유게시판
                        <strong>교수님 과제 좀 그만 내주세요!</strong>
                    </p>
                    <button>차단</button>
                </div>
                <div class="tolkArea">
                    <div class="opponentTolk">
                        <div class="imgBox" style="background-image: url({% static 'images/mypage_used_user.png' %});">
                            김개똥 이미지
                        </div>
                        <blockquote>
                            <cite>김개똥</cite>
                            <q data-unread="1">거래 요청 드려요~거래 요청 드려요~거래 요청 드려요~ 요청 드려요~ 요청 드려요~ 요청 드려요~</q>
                            <time>오후 9:00</time>
                        </blockquote>
                    </div>
                    <div class="meTolk">
                        <blockquote>
                            <time>오후 9:01</time>
                            <q>잠시만요잠시만요잠시만요잠시만요잠시만요잠시만요잠시만요잠시만요잠시만요</q>
                        </blockquote>
                    </div>
                    <span><time>2021년 11월 10일</time></span>
                    <div class="meTolk">
                        <blockquote>
                            <time>오후 9:01</time>
                            <q>잠시만요잠시만요잠시만요잠시만요잠시만요잠시만요잠시만요잠시만요잠시만요</q>
                        </blockquote>
                    </div>
                    <span><time>2021년 11월 10일</time></span>
                    <div class="meTolk">
                        <blockquote>
                            <time>오후 9:01</time>
                            <q>잠시만요잠시만요잠시만요잠시만요잠시만요잠시만요잠시만요잠시만요잠시만요</q>
                        </blockquote>
                    </div>
                    <span><time>2021년 11월 10일</time></span>
                    <div class="meTolk">
                        <blockquote>
                            <time>오후 9:01</time>
                            <q data-unread="1">잠시만요잠시만요잠시만요잠시만요잠시만요잠시만요잠시만요잠시만요잠시만요</q>
                        </blockquote>
                    </div>
                    <span><time>2021년 11월 10일</time></span>
                </div>

                <div class="inputArea">
                    <input type="text">
                    <button>입력</button>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}