{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="subPage myPage">
    <section class="width1200 myArea">
        <h2>메인페이지</h2>
        <ul class="menuBox">
            <li class="active">
                <a href="{% url 'common:mypage' %}">회원정보</a>
            </li>
            <li>
                <a href="{% url 'common:usedtrade_chat' 0 %}" data-count="3">중고거래</a>
            </li>
            <li>
                <a href="{% url 'common:community_chat' 0 %}" data-count="3">커뮤니티</a>
            </li>
            <li>
                <a href="{% url 'common:service' %}">문의</a>
            </li>
        </ul>
        <div class="paddingBox memberArea">
            <div>
                <strong>프로필</strong>
                <div>
                    <div>
                        <div class="imgBox" style="background-image: url({% static 'images/mypage_member_user.png' %});">
                            유저 이미지
                        </div>
                        <button>업로드</button>
                    </div>
                    <ul>
                        <li>
                            <b>이름</b>
                            <p>{{ request.user.last_name }}</p>
                        </li>
                        <br>
                        <li>
                            <b>아이디</b>
                            <p>{{ request.user.username }}</p>
                        </li>
                        <br>
                        <li>
                            <b>비밀번호</b>
                            <p>********</p>
                        </li>
                        <br>
{#                        <li>#}
{#                            <b>비밀번호 확인 </b>#}
{#                            <p>********</p>#}
{#                        </li>#}
                        <li>
                            <b>이메일</b>
                            <p>{{ request.user.email }}</p>
                        </li>
                        <br>
                        <li>
                            <b>휴대전화</b>
                            <p>010 - 0000 - 0000</p>
                        </li>
                        <br>
                        <li>
                            <b>주소</b>
                            <p>전남 무안군 청계면 영산로 1666</p>
                        </li>
                        <br>
                        <li>
                            <b>배송주소</b>
                            <p>전남 무안군 청계면 영산로 1666</p>
                        </li>
                    </ul>
                </div>
                <a href="#" class="blackBtn">수정</a>
            </div>
        </div>
    </section>
</div>
{% endblock %}