{% extends 'base.html' %}
{% load static %}

{% block content %}
    <style>
        .title, .common_container, aside, main{
            border: 1px solid black;
        }
        .title{
            height: 6vh;
        }
        .common_container{
            width: 100%;
            padding: 0;
            display: flex;
            height: 88vh;
            margin: 0;
        }
        aside{
            flex:1;
        }
        main{
            flex:3;
        }
    </style>

    <div class="title">
        <h3>마이페이지</h3>
    </div>
    <div class="common_container">
        <aside>
            <div>마이페이지</div>
            <div>중고거래</div>
            <div>커뮤니티</div>
            <div> ··· </div>
        </aside>
        <main>
            내용
        </main>
    </div>
{% endblock %}