{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="subPage myPage">


        <section class="width1200 myArea">
            <h2>메인페이지</h2>
            <ul class="menuBox">
                <li>
                    <a href="{% url 'common:mypage' %}">회원정보</a>
                </li>
                <li class="active">
                    <a href="{% url 'common:usedtrade_chat' 0 %}" data-count="3">중고거래</a>
                </li>
                <li>
                    <a href="{% url 'common:community_chat' %}" data-count="3">커뮤니티</a>
                </li>
                <li>
                    <a href="{% url 'common:service' %}">문의</a>
                </li>
            </ul>

            <div class="tolkBox usedArea">
                <div class="tolkList">
                    <ul>
                        {% for data in data %}
                            <li class="active">
                                <b>{{ data.author }}</b>
                                <time>{{ data.create_date }}</time>
                                <p>{{ data.content }}</p>
                                <span>3</span>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="tolkDetail">
                    <div class="tolkSubject">
                        <div class="imgBox" style="background-image: url({% static 'images/mypage_used_goods.png' %});">
                            상품이미지
                        </div>
                        <p>
                            아이패드 프로 11인치
                            <strong>605,000원</strong>
                        </p>
                        <button>차단</button>
                    </div>
                    <div class="tolkArea">
                        <<<<<<< HEAD
                        {% for data in data %}
                            {% if data.author == user %}
                                <div class="opponentTolk">
                                    <div class="imgBox"
                                         style="background-image: url({% static  'images/mypage_used_user.png' %});">
                                        김개똥 이미지
                                    </div>
                                    <blockquote>
                                        <cite>{{ data.author }}</cite>
                                        <q>{{ data.content }}</q>
                                        <time>{{ data.create_date }}</time>
                                    </blockquote>
                                </div>
                            {% else %}
                                <div class="meTolk">
                                    <blockquote>
                                        <time>{{ data.create_date }}</time>
                                        <q>{{ data.content }}</q>
                                    </blockquote>
                                </div>
                                {#                                <span><time>2021년 11월 10일</time></span>#}
                            {% endif %}
                        {% endfor %}
                        =======
                        <div class="opponentTolk">
                            <div class="imgBox"
                                 style="background-image: url({% static  'images/mypage_used_user.png' %});">
                                김개똥 이미지
                            </div>
                            <blockquote>
                                <cite>김개똥</cite>
                                <q>거래 요청 드려요~거래 요청 드려요~거래 요청 드려요~ 요청 드려요~ 요청 드려요~ 요청 드려요~</q>
                                <time>오후 9:00</time>
                            </blockquote>
                        </div>

                        <span><time>2021년 11월 10일</time></span>
                        <div class="meTolk">
                            <blockquote>
                                <time>오후 9:01</time>
                                <q>잠시만요잠시만요잠시만요잠시만요잠시만요잠시만요잠시만요잠시만요잠시만요</q>
                            </blockquote>
                        </div>
                        >>>>>>> 13eb27773657cec68caef0d3a4b92137b158c469
                    </div>

                    <div class="inputArea">
                        <input type="text">
                        <button>입력</button>
                    </div>
                </div>
            </div>
        </section>


    </div>
{% endblock %}