body {
    margin: 0;
}

ul {
    margin: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

/* Nav Bar */
nav {
    padding: 15px 0;
    border-bottom: solid black 2px;
    background-color: darkorange;
}

.nav_list{
    display: inline-block;
    font-weight: bold;
    font-size: 20px;
    opacity: 0.8;
    padding-right: 20px;
}

.logo {
    color: white;
}

.mypage {
    line-height: 32px;
    display: inline-block;
    float: right;
    margin-right: 20px;
}

.signup {
    line-height: 32px;
    display: inline-block;
    float: right;
    margin-right: 30px;
}

nav ul li a:hover {
    opacity: 1.0;
    color: black;
    cursor: pointer;
}
