{% load static %}
<!doctype html>
<html lang="ko">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 ,maximum-scale=1.0, user-scalable=0, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <!-- CSS import -->
    <link rel="stylesheet" href="{% static 'css/import.css' %}">   <!-- main_tmp/css/import.css -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <title>Toch</title>
</head>
<body>
{% include "navbar.html" %}

{% block content %}
{% endblock %}

{% include "footer.html" %}

<!-- 커뮤니티 목록 스르륵 jQuery-->
<script>
    $(document).ready(function(){
        $('.hover').hover(function(){
            $(this).children('div').stop().slideDown()
        },function(){
            $(this).children('div').stop().slideUp()
        });

        $('.heartIcon').click(function(){
            $(this).toggleClass('active');
        })
    })
</script>
</body>
</html>