{% extends 'base.html' %}
{% load static %}
{% block content %}
    <form action="{% url 'usedtrade:create_post' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <br>
        <div class="form-floating">
            <textarea class="form-control" placeholder="Leave a comment here" name="title"></textarea>
            <label for="floatingTextarea">제목</label>
        </div>
        <br>
        <div class="form-floating">
            <textarea class="form-control" placeholder="Leave a comment here" name="price"></textarea>
            <label for="floatingTextarea">판매가격</label>
        </div>
        <br>
        <div class="input-group">
            <input class="form-control form-control-sm" name="file" id="file" type="file" multiple="multiple"
                   style="width: 60%">
        </div>
        <br>
        <div class="form-floating">
            <textarea class="form-control" placeholder="Leave a comment here" name="content"
                      style="height: 100px"></textarea>
            <label for="floatingTextarea2">Comments</label>
        </div>
        <br>
        <button type="submit" class="btn btn-outline-secondary">글쓰기</button>
    </form>
{% endblock %}