{% extends 'base.html' %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'usedtrade/detail.css' %}">
    <article id="content" data-id="295261694">
        <section id="article-images">
            <br>
            <div id="image-slider">
                <div class="slider-wrap">
                    <div class="slider slick-initialized slick-slider slick-dotted" data-article-id="295261694">
                        <div class="slick-list draggable">
                            <div class="slick-track"
                                 style="opacity: 1; width: 6561px; transform: translate3d(-729px, 0px, 0px);">
                                <div class="slick-slide slick-cloned" data-slick-index="-1" aria-hidden="true"
                                     tabindex="-1" style="width: 729px;">
                                    <div>
                                        <div>
                                            <div class="image-wrap" data-image-id="1189881616" data-image-index="4">
                                                <img data-lazy="https://dnvefa72aowie.cloudfront.net/origin/article/202110/E553675C8C682EEDE8436F17B9851AFB99F927D32F5699E90A0AC76B5CBB72F2.jpg?q=95&amp;s=1440x1440&amp;t=inside"
                                                     class="portrait" alt="스캇 MTB 산악자전거의 사진 4"
                                                     src="https://dnvefa72aowie.cloudfront.net/hoian/category/thumbnails/v2/img_thumb_sports.png">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="slick-slide slick-current slick-active" data-slick-index="0"
                                     aria-hidden="false" role="tabpanel" id="slick-slide00" style="width: 729px;">
                                    <div>
                                        <div>
                                            <div class="image-wrap" data-image-id="1189881617" data-image-index="1">
                                                <img class="landscape" alt="스캇 MTB 산악자전거의 사진 1"
                                                     src="https://dnvefa72aowie.cloudfront.net/origin/article/202110/2A7C46274741BA8BCA35BAFDCA408013B5D32A6EA01BE303BA00EBE86E18E151.jpg?q=95&amp;s=1440x1440&amp;t=inside"
                                                     style="opacity: 1;">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="article-profile">
            <a id="article-profile-link" href="#">
                <div class="space-between">
                    <div>
                        <div id="article-profile-image">
                            <img alt="고래밥"
                                 src="https://d1unjqcospf8gs.cloudfront.net/assets/users/default_profile_80-7e50c459a71e0e88c474406a45bbbdce8a3bf2ed4f2efcae59a064e39ea9ff30.png">
                        </div>
                        <div id="article-profile-left">
                            <div id="nickname">고래밥</div>
                            <div id="region-name">연수구 송도동</div>
                        </div>
                    </div>
                    <div id="article-profile-right">
                        <div class="meters">
                            <div class=" bar bar-color-03" style="width: 100%;"></div>
                        </div>
                    </div>
                </div>
            </a></section>

        <section id="article-description">
            <h1 property="schema:name" id="article-title" style="margin-top:0px;">{{ data.first.title }}</h1>
            <p id="article-category">
                <time>
                    {{ data.first.created_date }}
                </time>
            </p>
            <p property="schema:priceValidUntil" datatype="xsd:date" content="2023-10-05"></p>
            <p rel="schema:url" resource="https://www.daangn.com/295261694"></p>
            <p property="schema:priceCurrency" content="KRW"></p>
            <p id="article-price" property="schema:price" content="150000.0" style="font-size:18px; font-weight:bold;">
                {{ data.first.price }}원
            </p>
            <div property="schema:description" id="article-detail">
                {{ data.first.content }}
            </div>
        </section>
    </article>
{% endblock %}