{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <ul class="trade_ul">
            {% for data in data %}
                <li class="trade_li" onclick="location.href='{% url 'usedtrade:detail' data.id %}'">
                    <div class="trade_image">
                        <img src="{{ data.file_set.first.file.url }}"
                             style="width: 200px; height: 120px;">
                    </div>
                    <div class="trade_content">{{ data.title }}</div>
                    <div class="trade_price">{{ data.price }}원</div>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="container">
        <button onclick="location.href='{% url 'usedtrade:create_post' %}'" class="btn btn-outline-secondary">글쓰기</button>
    </div>
{% endblock %}