{% extends 'base.html' %}
{% load static %}

{% block content %}
    <style>

        .container {
            margin: 0 auto;
        }

        .trade_ul {
            margin-top: 10px;
        }

        .trade_ul li {
            float: left;
            width: 200px;
            height: 200px;
            margin: 10px;
        }

        .trade_image {
            border: 1px solid black;
            width: 100%;
            height: 60%;
        }

        .trade_content {
            width: 100%;
            height: 10%;

        }

        .trade_price {
            width: 100%;
            height: 30%;
        }
    </style>
    <div class="container">
        <ul class="trade_ul">
            {% for data in data %}
                <li class="trade_li" onclick="location.href='{% url 'usedtrade:detail' data.id %}'">
                    <div class="trade_image">
                        <img src="https://dnvefa72aowie.cloudfront.net/origin/article/202110/2A7C46274741BA8BCA35BAFDCA408013B5D32A6EA01BE303BA00EBE86E18E151.jpg?q=95&amp;s=1440x1440&amp;t=inside"
                             style="width: 200px; height: 120px;">
                    </div>
                    <div class="trade_content">{{ data.title }}</div>
                    <div class="trade_price">{{ data.price }}원</div>
                </li>
            {% endfor %}
        </ul>
    </div>
    <button onclick="location.href='{% url 'usedtrade:create_post' %}'" class="btn btn-outline-secondary">글쓰기</button>
{% endblock %}