body {
    margin: 0;
}

ul {
    margin: 0;
    list-style: none;
}

li:hover {
    cursor: pointer;
}

h3 {
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}


/* Main CONTAINER */
.mainContainer {
    display: flex;
}

.myMap {
    width: 70vw;
    height: 100vh;
    border-right: solid 2px black;
}

/* ITEM LIST */
.listContainer {
    width: 28.9vw;
    overflow: auto;
    max-height: 969px;
}


/* ITEM */
.roomImg {
    width: 35px;
    height: 35px;
}


.listContainer ul li {
    display: flex;
    border-bottom: 1px solid black;
    margin-top: 10px;
}

