{% extends 'mobile_template/base.html' %}
{% block content %}
<div class="oneRoomPage">
    <header class="paddingBox">
        <h1>
            <a href="#">
                <img src="../../../static/mobile/images/logo.png" alt="toch logo">
            </a>
        </h1>
        <div class="btnArea">
            <button class="imgBox" data-click="gnbSearchBox">
                검색버튼
            </button>
            <button class="imgBox">
                인기버튼
            </button>
            <button class="imgBox">
                ??버튼
            </button>
        </div>
        <div class="gnbSearchBox paddingBox">
            <input type="search" placeholder="검색어를 입력하세요">
            <button class="imgBox">
                검색버튼
            </button>
            <button class="imgBox close">
                검색 닫기 버튼
            </button>
        </div>
    </header>

    <div class="reviewArea writeBox">
        <form>
            <fieldset>
                <div class="btnArea paddingBox">
                    <input type="reset" value="취소">
                    <input type="submit" value="등록">
                </div>
                <div class="imgArea paddingBox2">
                    <b>사진 2/10</b>
                    <div class="imgRegiBox">
                        <div class="fileArea">
                            <input type="file">
                            <label for="">+</label>
                            <div class="imgBox"
                                 style="background-image: url(../../../static/mobile/images/registrationImg.png);">
                                <button class="removeBtn">-</button>
                            </div>
                            <div class="imgBox"
                                 style="background-image: url(../../../static/mobile/images/registrationImg.png);">
                                <button class="removeBtn">-</button>
                            </div>
                            <div class="imgBox"
                                 style="background-image: url(../../../static/mobile/images/registrationImg.png);">
                                <button class="removeBtn">-</button>
                            </div>
                            <div class="imgBox"
                                 style="background-image: url(../../../static/mobile/images/registrationImg.png);">
                                <button class="removeBtn">-</button>
                            </div>
                            <div class="imgBox"
                                 style="background-image: url(../../../static/mobile/images/registrationImg.png);">
                                <button class="removeBtn">-</button>
                            </div>
                            <div class="imgBox"
                                 style="background-image: url(../../../static/mobile/images/registrationImg.png);">
                                <button class="removeBtn">-</button>
                            </div>
                            <div class="imgBox"
                                 style="background-image: url(../../../static/mobile/images/registrationImg.png);">
                                <button class="removeBtn">-</button>
                            </div>
                            <div class="imgBox"
                                 style="background-image: url(../../../static/mobile/images/registrationImg.png);">
                                <button class="removeBtn">-</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="scopeArea paddingBox2">
                    <img src="../../../static/mobile/images/filledStar.png" alt="">
                    <img src="../../../static/mobile/images/filledStar.png" alt="">
                    <img src="../../../static/mobile/images/filledStar.png" alt="">
                    <img src="../../../static/mobile/images/filledStar.png" alt="">
                    <img src="../../../static/mobile/images/emptyStar.png" alt="">
                </div>
                <textarea placeholder="리뷰를 작성해 주세요" class="paddingBox2"></textarea>
            </fieldset>
        </form>
    </div>
</div>
{% endblock %}
