/*@import url('reset.css');*/

/* 컨텐츠 크기 (+ 양옆 margin ) */
.width1200{width: 1200px; margin: 0 auto;}

/* Footer */
footer{background-color: #242424; padding: 20px 0;}
footer > div{position: relative;}
footer > div h2{margin-bottom: 25px;}
footer > div > ul{position: absolute; right: 0; top: 5px; display: flex;}
footer > div > ul li:not(:last-child){margin-right: 30px;}
footer > div > ul li a{color: white;}
footer > div > ul ~ *{font-size: 14px; color: #9b9b9b; line-height: 21px;}
footer > div > address{font-style: normal; display: flex; flex-wrap: nowrap;}
footer > div > address > *:not(:last-child){margin-right: 20px;}
footer > div > address dl{display: flex;}
footer > div > address dl dt::after{content: ':'; display: inline-block; margin: 0 5px;}