{% extends 'mobile_template/base.html' %}
{% load static %}
{% block content %}
    <!-- bxslider -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
    <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
    <div class="oneRoomPage">
        <section class="detailArea">
            <div class="slider">
                {% if data.0.file_set %}
                    {% for i in data.0.file_set.all %}
                        <div><img src="{{ i.file.url }}" alt=""></div>
                    {% endfor %}
                {% endif %}
            </div>

            <!-- 정보 Overview -->
            <div class="infoArea">
                <div class="paddingBox">
                    <h2>{% if data.0.rent_type %}{{ data.0.rent_type }} {% if data.0.deposit %}{{ data.0.deposit }}/
                        {% if data.0.rent_amount %}
                            {{ data.0.rent_amount }}{% elif data.0.year_amount %}{{ data.0.year_amount }}{% else %}
                            비공개{% endif %}{% else %}비공개{% endif %}{% else %}비공개{% endif %}
                    </h2>
                    <time datetime="">5일전</time>
                    <div class="iconBox">
                        <a href="{% url 'mobile_oneroom_like' data.0.id %}">
                            <div class="imgBox heartIcon">하트 아이콘</div>
                        </a>
                        <span>{{ like.count }}</span>
                    </div>
                </div>

                <ul>
                    <li class="paddingBox">
                        <dl>
                            <dt>전용면적</dt>
                            <dd>{% if data.0.dedicated_area %}{{ data.0.dedicated_area }}평{% else %}비공개{% endif %}</dd>
                        </dl>
                        <dl>
                            <dt>관리비</dt>
                            <dd>{% if data.0.manage_amount %}{{ data.0.manage_amount }}{% else %}비공개{% endif %}</dd>
                        </dl>
                        <button class="contact_btn">연락처 보기</button>
                    </li>
                    <li class="paddingBox">
                        <dl>
                            <dt>한달 예상 주거비</dt>
                            <dd>
                                <mark>???만 원 + a</mark>
                            </dd>
                        </dl>
                        <button class="copy_contact_btn">연락처 복사</button>
                        <button class="oneroom_detail_share_btn">공유하기</button>
                    </li>
                </ul>
            </div>

            <!-- 상세 정보 -->
            <div class="detaliInfo">
                <h3 class="paddingBox" data-click="next">상세 정보</h3>
                <ul class="detaliInfo_click paddingBox">
                    <li>
                        <dl>
                            <dt>건물층</dt>
                            <dd>{% if data.0.floor_total %}{{ data.0.floor_total }}층{% else %}비공개{% endif %}</dd>
                        </dl>
                    </li>
                    <li>
                        <dl>
                            <dt>전용/공급면적</dt>
                            <dd>{% if data.0.dedicated_area %}{{ data.0.dedicated_area }}평{% else %}비공개{% endif %}</dd>
                        </dl>
                    </li>
                    <li>
                        <dl>
                            <dt>방 / 욕실 수</dt>
                            <dd>{% if data.0.room_num %}{{ data.0.room_num }}개 / {{ data.0.toilet_num }}개{% else %}
                                비공개{% endif %}</dd>
                        </dl>
                    </li>
                    <li>
                        <dl>
                            <dt>난방종류</dt>
                            <dd>{% if data.0.gas_type %}{{ data.0.gas_type }}{% else %}비공개{% endif %}</dd>
                        </dl>
                    </li>
                    <li>
                        <dl>
                            <dt>건물 주차</dt>
                            <dd>{% if data.0.parking == 0 %} 불가능 {% elif data.0.parking == 1 %} 가능 {% else %}
                                비공개 {% endif %}</dd>
                        </dl>
                    </li>
                    <li>
                        <dl>
                            <dt>엘리베이터</dt>
                            <dd>{% if data.0.elevator == 0 %} 없음 {% elif data.0.elevator == 1 %} 있음 {% else %}
                                비공개 {% endif %}</dd>
                        </dl>
                    </li>
                    <li>
                        <dl>
                            <dt>완공일</dt>
                            <dd>{% if data.0.construction_date %}{{ data.0.construction_date }}{% else %}
                                비공개{% endif %}</dd>
                        </dl>
                    </li>
                </ul>
            </div>

            <div class="facilityBox">
                <h3 class="paddingBox" data-click="next">옵션</h3>
                <ul>
                    {% if data.0.status_set.last.aircon %}
                        <li><img src="{% static 'mobile/images/oneroom_option01.png' %}" alt="에어컨">에어컨</li>
                    {% endif %}
                    {% if data.0.status_set.last.washer %}
                        <li><img src="{% static 'mobile/images/oneroom_option02.png' %}" alt="세탁기">세탁기</li>
                    {% endif %}
                    {% if data.0.status_set.last.refrigerator %}
                        <li><img src="{% static 'mobile/images/oneroom_option03.png' %}" alt="냉장고">냉장고</li>
                    {% endif %}
                    {% if data.0.status_set.last.desk %}
                        <li><img src="{% static 'mobile/images/oneroom_option04.png' %}" alt="책상">책상</li>
                    {% endif %}
                    {% if data.0.status_set.last.closet %}
                        <li><img src="{% static 'mobile/images/oneroom_option05.png' %}" alt="옷장">옷장</li>
                    {% endif %}
                    {% if data.0.status_set.last.shoeCloset %}
                        <li><img src="{% static 'mobile/images/oneroom_option06.png' %}" alt="신발장">신발장</li>
                    {% endif %}
                    {% if data.0.status_set.last.induction %}
                        <li><img src="{% static 'mobile/images/oneroom_option07.png' %}" alt="인덕션">인덕션</li>
                    {% endif %}
                    {% if data.0.status_set.last.doorLock %}
                        <li><img src="{% static 'mobile/images/oneroom_option08.png' %}" alt="전자도어락">전자도어락</li>
                    {% endif %}
                </ul>
            </div>

            <div class="facilityBox">
                <h3 class="paddingBox" data-click="next">보안/안전 시설</h3>
                <ul>
                    {% if data.0.status_set.last.videoPhone %}
                        <li><img src="{% static 'mobile/images/oneroom_facility01.png' %}" alt="비디오폰">비디오폰</li>
                    {% endif %}
                    {% if data.0.status_set.last.entrance %}
                        <li><img src="{% static 'mobile/images/oneroom_facility02.png' %}" alt="공동현관">공동현관</li>
                    {% endif %}
                    {% if data.0.status_set.last.CCTV %}
                        <li><img src="{% static 'mobile/images/oneroom_facility03.png' %}" alt="CCTV">CCTV</li>
                    {% endif %}
                    {% if data.0.status_set.last.fireAlarm %}
                        <li><img src="{% static 'mobile/images/oneroom_facility04.png' %}" alt="화재경보기">화재경보기</li>
                    {% endif %}
                    {% if data.0.status_set.last.gasAlarm %}
                        <li><img src="{% static 'mobile/images/oneroom_facility05.png' %}" alt="가스노출경보기">가스노출경보기</li>
                    {% endif %}
                </ul>
            </div>

            <div class="detailReview">
                <h3 class="paddingBox" data-click="next">실거주자 리뷰</h3>
                <div>
                    <ul class="paddingBox">
                        <li>
                            <div class="reviewBox">
                                <div class="imgBox circle"
                                     style="background-image: url('{% static 'userRegiImg01.png' %}');">
                                    홍길동 이미지
                                </div>
                                <div class="textArea">
                                    <b>홍길동
                                        <time>1월 1일</time>
                                    </b>
                                    <div class="scopeArea">
                                        <img src="../../../static/mobile/images/filledStar.png" alt="">
                                        <img src="../../../static/mobile/images/filledStar.png" alt="">
                                        <img src="../../../static/mobile/images/filledStar.png" alt="">
                                        <img src="../../../static/mobile/images/filledStar.png" alt="">
                                        <img src="../../../static/mobile/images/emptyStar.png" alt="">
                                    </div>
                                    <p>예시 입니다.</p>
                                </div>
                            </div>
                        </li>
                    </ul>

                    <div class="pageBox">
                        <a href="#">
                            <mark>&lt;</mark>
                            이전</a>
                        <ol>
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#">6</a></li>
                        </ol>
                        <a href="#">다음
                            <mark>&gt;</mark>
                        </a>
                    </div>

                    <a href="#">리뷰작성</a>
                </div>
            </div>

            <div class="differentArea">
                <h3 class="paddingBox">다른 방 둘러보기</h3>
                <ul class="paddingBox">
                    <li>
                        <a href="#">
                            <div class="imgBox"
                                 style="background-image: url({% static 'mobile/images/oneroom_detail.png' %});">
                                월세 방 이미지
                            </div>
                            <strong>
                                월세 40만원
                                <small>원룸</small>
                            </strong>
                            <p>2층 18평, 관리비 60만</p>
                            <p>목포대 다이소 근처</p>
                        </a>
                    </li>
                </ul>
            </div>
        </section>

        <div class="oneroom_detail_modal_container none">
            <div class="modal_bg"></div>
            <div class="oneroom_detail_modal_content">
                <div class="modal_header"><span class="modal_close_btn">×</span></div>
                <div class="modal_body">{{ data.0.owner_contact }}</div>
            </div>
        </div>

        <div class="copy_modal">복사되었습니다.</div>
    </div>
    <script src="{% static 'mobile/js/oneroom-detail-modal.js' %}"></script>
    <script>
        $(document).ready(function () {
            $('.oneRoomPage .detailArea .slider').bxSlider({
                controls: false
            });
        })
    </script>
{% endblock %}