{% extends 'mobile_template/base.html' %}
{% load static %}
{% block content %}
    <div class="oneRoomPage">
        <div class="oneRoomArea">
            <style>
                input {
                    -webkit-appearance: checkbox;
                    -webkit-appearance: button;
                }

                .oneRoomArea {
                    font-weight: bold;
                    font-size: 23px;
                    overflow: auto;
                }

                .option_checkBox, .facility_checkBox {
                    font-size: 18px;
                }

                .edit_option_container {
                    margin-top: 30px;
                    width: 100%;
                    height: fit-content;
                    display: flex;
                    justify-content: center;
                }

            </style>
            {#            <h1>#}
            {#                {% for i in data %}#}
            {#                    <option value="{{ i.id }}">{{ i.post }}</option>#}
            {#                {% endfor %}#}
            {#            </h1>#}

            <select name="title" onchange="inputChange(this.value)">
                {% for i in data %}
                    <option value="{{ i.id }}">{{ i.post }}</option>
                {% endfor %}
            </select>
            <form method="post">
                <!-- 남은 방 개수 -->

                <div class="selectBox" style="margin: 30px 0; width: 200px; margin: 0 auto; text-align: center">
                    - 남은 방 개수 -
                    <br>
                    <select id="remain_count" name="remain" class="select">
                        <option disabled selected>----- 선택 -----</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                        <option value="21">21</option>
                        <option value="22">22</option>
                        <option value="23">23</option>
                        <option value="24">24</option>
                        <option value="25">25</option>
                        <option value="26">26</option>
                        <option value="27">27</option>
                        <option value="28">28</option>
                        <option value="29">29</option>
                        <option value="30">30</option>
                    </select>
                </div>
                <div class="edit_option_container">
                    <!-- 옵션 -->
                    <p style="margin: 15px">
                    <div class="option_checkBox">
                        <p style="margin-bottom: 20px">- 옵션 -</p>
                        <label for="aircon">에어컨</label>
                        <input type="checkbox" id="aricon">
                        <br><br>
                        <label for="washer">세탁기</label>
                        <input type="checkbox" id="washer">
                        <br><br>
                        <label for="">냉장고</label>
                        <input type="checkbox" id="">
                        <br><br>
                        <label for="">책상</label>
                        <input type="checkbox" id="">
                        <br><br>
                        <label for="">옷장</label>
                        <input type="checkbox" id="">
                        <br><br>
                        <label for="">신발장</label>
                        <input type="checkbox" id="">
                        <br><br>
                        <label for="">인덕션</label>
                        <input type="checkbox" id="">
                    </div>
                    </p>

                    <!-- 시설-->
                    <br>
                    <br>
                    <p style="margin: 15px">
                    <div class="facility_checkBox">
                        <p style="margin-bottom: 20px">- 안전 시설 -</p>
                        <label for="video_phone">비디오폰</label>
                        <input type="checkbox" id="video_phone">
                        <br><br>
                        <label for="front_door">공동현관</label>
                        <input type="checkbox" id="front_door">
                        <br><br>
                        <label for="cctv">CCTV</label>
                        <input type="checkbox" id="cctv">
                        <br><br>
                        <label for="fire_alarm">화재경보기</label>
                        <input type="checkbox" id="fire_alarm">
                        <br><br>
                        <label for="gas_alarm">가스누출경보기</label>
                        <input type="checkbox" id="gas_alarm">
                    </div>
                    </p>
                </div>


                <button style="background-color: #ff9900; color: black; width: 120px; height: fit-content; border-radius: 2px; margin: 30px auto; display: block; padding: 10px">
                    수정하기
                </button>
            </form>
        </div>
    </div>
{% endblock %}