{% extends 'mobile_template/base.html' %}
{% block content %}
    <div class="oneRoomPage">
        <header class="paddingBox">
            <h1>
                <a href="#">
                    <img src="../../../static/mobile/images/logo.png" alt="toch logo">
                </a>
            </h1>
            <div class="btnArea">
                <button class="imgBox" data-click="gnbSearchBox">
                    검색버튼
                </button>
                <button class="imgBox">
                    인기버튼
                </button>
                <button class="imgBox">
                    ??버튼
                </button>
            </div>
            <div class="gnbSearchBox paddingBox">
                <input type="search" placeholder="검색어를 입력하세요">
                <button class="imgBox">
                    검색버튼
                </button>
                <button class="imgBox close">
                    검색 닫기 버튼
                </button>
            </div>
        </header>

        <div class="oneRoomArea">
            <div class="inputArea">
                <div class="seachBox">
                    <input type="search">
                    <button>검색버튼</button>
                </div>
                <button data-popup2="filter_box">필터</button>
                <div class="filter_box">
                    <form>
                        <fieldset>
                            <div>
                                <button>초기화</button>
                            </div>
                            <ul>
                                <li>
                                    <label>성별</label>
                                    <div>
                                        <input type="radio" checked>
                                        <label>남성</label>
                                        <input type="radio">
                                        <label>여성</label>
                                    </div>
                                </li>
                                <li>
                                    <label>나이</label>
                                    <div>
                                        <select>
                                            <option value="">10~20대</option>
                                        </select>
                                    </div>
                                </li>
                                <li>
                                    <label>단과대</label>
                                    <div>
                                        <input type="text">
                                    </div>
                                </li>
                                <li>
                                    <label>반려동물</label>
                                    <div>
                                        <input type="radio" checked>
                                        <label>Yes</label>
                                        <input type="radio">
                                        <label>No</label>
                                    </div>
                                </li>
                                <li>
                                    <label>자차보유</label>
                                    <div>
                                        <input type="radio" checked>
                                        <label>Yes</label>
                                        <input type="radio">
                                        <label>No</label>
                                    </div>
                                </li>
                                <li>
                                    <label>mbti</label>
                                    <div>
                                        <select>
                                            <option value="">ISTJ</option>
                                        </select>
                                    </div>
                                </li>
                            </ul>
                            <button>Toch AI 추천</button>
                            <span class="imgBox closeBtn">
                                닫기
                            </span>
                        </fieldset>
                    </form>
                </div>

                <button data-popup2="AI_box">AI 추천</button>

                <div class="AI_box">
                    <form>
                        <fieldset>
                            <div>
                                <button>초기화</button>
                            </div>

                            <ul>
                                <li>
                                    <label>거래유형</label>
                                    <mark>연세</mark>
                                    <div>
                                        <input type="radio" checked>
                                        <label>연세</label>
                                        <input type="radio">
                                        <label>월세</label>
                                        <input type="radio">
                                        <label>전세</label>
                                    </div>
                                </li>
                                <li>
                                    <label>조증금</label>
                                    <mark>500만원</mark>
                                    <div>
                                        <div class="rangeBox">
                                            <div>
                                                <span></span>
                                                <span>
                                                    <span>500만원</span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <label>월세</label>
                                    <mark>500만원</mark>
                                    <div>
                                        <div class="rangeBox">
                                            <div>
                                                <span></span>
                                                <span>
                                                    <span>500만원</span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>

                            <span class="imgBox closeBtn">
                                닫기
                            </span>
                        </fieldset>
                    </form>
                </div>
            </div>
            <!-- Kakao Map -->
            <div class="kakao_map"></div>
            <a href="{% url 'mobile:oneroom_list' %}" class="fixedLink">LIST</a>
        </div>
    </div>
    <script src="//dapi.kakao.com/v2/maps/sdk.js?appkey=98a0001a3486109fd99e7a58b946cfbe&libraries=clusterer,services"></script>
    <script src="../../../static/mobile/js/map.js"></script>
    <script src="../../../static/mobile/js/marker.js"></script>
    <script>
        // 마커들을 담을 배열
        let markers = [];
        let current_markers = [];
        let positions = [];
        {% if data %}
            {% for i in data %}
                positions.push({
                    id: {{ i.id }},
                    title: '{{ i.title }}',
                    rent_type: '{{ i.rent_type }}',
                    rent_amount: '{{ i.rent_amount }}',
                    deposit: '{{ i.deposit }}',
                    latlng: new kakao.maps.LatLng({{ i.latitude }}, {{ i.longitude }}), // 원룸 좌표
                    main_img: '{{ i.file_set.first.file.url }}',
                    floor_num: '{{ i.floor_num }}',
                    common_area: '{{ i.common_area }}',
                    address: '{{ i.address }}',
                    manage_amount: '{{ i.manage_amount }}'
                })
            {% endfor %}
        {% endif %}

        function addAllMarkers() {
            positions.map(room => addMarker(room));
            console.log(1111);
        }

        addAllMarkers();
    </script>
    <script src="../../../static/mobile/js/toggle.js"></script>
{% endblock %}