{% extends 'mobile_template/base.html' %}
{% load static %}
{% block content %}
    <div class="oneRoomPage">
        <header class="paddingBox">
            <h1>
                <a href="#">
                    <img src="{% static 'mobile/images/logo.png' %}" alt="toch logo">
                </a>
            </h1>
            <div class="btnArea">
                <button class="imgBox" data-click="gnbSearchBox">검색버튼</button>
                <button class="imgBox">인기버튼</button>
                <button class="imgBox">??버튼</button>
            </div>
            <div class="gnbSearchBox paddingBox">
                <input type="search" placeholder="검색어를 입력하세요">
                <button class="imgBox">검색버튼</button>
                <button class="imgBox close">검색 닫기 버튼</button>
            </div>
        </header>

        <div class="oneRoomArea">
            <!-- Kakao Map -->
            <div class="kakao_map">
                <!-- SINGLE LIST -->
                <div class="single_list_container">
                    <ul class="oneroom_single_list_ul"></ul>
                </div>
                <!-- LIST -->
                <div class="list_container">
                    <ul class="oneroom_list_ul"></ul>
                    <span class="fixedLink map_btn none">MAP</span>
                </div>
            </div>
            <div class="fixedLink list_btn">LIST</div>
        </div>
    </div>
    <script src="//dapi.kakao.com/v2/maps/sdk.js?appkey=98a0001a3486109fd99e7a58b946cfbe&libraries=clusterer,services"></script>
    <script src="{% static 'mobile/js/map.js' %}"></script>
    <script src="{% static 'mobile/js/index.js' %}"></script>
    <script src="{% static 'mobile/js/marker.js' %}"></script>
    <script src="{% static 'mobile/js/toggle.js' %}"></script>
    <script src="{% static 'mobile/js/room.js' %}"></script>
    <script>
        // 마커들을 담을 배열
        let markers = [];
        let current_markers = [];
        let positions = [];
        {% if data %}
            {% for i in data %}
                positions.push({
                    id: {{ i.id }},
                    title: '{{ i.title }}',
                    rent_type: '{{ i.rent_type }}',
                    rent_amount: '{{ i.rent_amount }}',
                    year_amount: '{{ i.year_amount }}',
                    deposit: '{{ i.deposit }}',
                    latlng: new kakao.maps.LatLng({{ i.latitude }}, {{ i.longitude }}), // 원룸 좌표
                    main_img: '{{ i.file_set.last.file.url }}',
                    floor_num: '{{ i.floor_num }}',
                    common_area: '{{ i.common_area }}',
                    address: '{{ i.address }}',
                    manage_amount: '{{ i.manage_amount }}',
                    dedicated_area: '{{ i.dedicated_area }}',
                    remain: '{{ i.status_set.last.remain }}',
                    hashtag1: '{{ i.status_set.last.hashtag1 }}',
                    hashtag2: '{{ i.status_set.last.hashtag2 }}',
                    hashtag3: '{{ i.status_set.last.hashtag3 }}',
                })
            {% endfor %}
        {% endif %}

        addAllMarkers();
        mobileRenderAllRoom();

        // 지도가 확대 또는 축소되면 마지막 파라미터로 넘어온 함수를 호출하도록 이벤트를 등록합니다
        kakao.maps.event.addListener(map, 'zoom_changed', function () {
            let level = map.getLevel();
            console.log("level : ", level);
            current_markers.map(marker => marker.cc.className = `custom_overlay level${level}`);
        });
    </script>

{% endblock %}